{% extends "base.html" %} 
{% load static %} 
{% block title %}Buy Machines{% endblock %} 
{% block extra_head %}Mining machines generate profit every 12 hours base on the price.
{% endblock %}

{% block content %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-icon" role="alert">
	<i class="mdi mdi-checkbox-marked-outline"></i> {{message}}
  </div>
{% endfor %}
{% for machine in machine1 %}

<!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
          <div class="content"><div class="card card-default">
  <div class="card-header align-items-center px-3 px-md-5">

  <div class="card-body px-3 px-md-1">
    <div class="row">
      <div class="col-lg-6 col-xl-4">
        <div class="card card-default p-4">
          <a href="javascript:0" class="media text-secondary" data-toggle="modal" data-target="#modal-contact">
            <img src="{{ machine.Image.url }}" class="mr-3 img-fluid rounded" alt="Avatar Image">
            
            <div class="media-body">
              <h5 class="mt-0 mb-2 text-light"> {{ machine.Name }} </h5>
              <ul class="list-unstyled text-smoke text-smoke">
                <li class="d-flex">
                  <i class="mdi mdi-server mr-1"></i>
                  <span class="text-success">{{ machine.Price}}TRX<i class="mdi mdi-arrow-up-bold small"></i>
                </li>
                <button type="button" class="btn bg-success text-white btn-sm">
                  Buy_Machine
                </button>
              </ul>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
      {% for machine1 in machine2 %}
      <div class="col-lg-6 col-xl-4">
        <div class="card card-default p-4">
          <a href="javascript:0" class="media text-secondary" data-toggle="modal" data-target="#modal-contact">
            <img src="{{ machine1.Image.url }}" class="mr-3 img-fluid rounded" alt="Avatar Image">

            <div class="media-body">
              <h5 class="mt-0 mb-2 text-light"> {{ machine1.Name }} </h5>
              <ul class="list-unstyled text-smoke">
                <li class="d-flex">
                  <i class="mdi mdi-server mr-1"></i>
                  <span class="text-success">{{ machine1.Price }}TRX<i class="mdi mdi-arrow-up-bold small"></i></span>
                </li>
                <p>{{ machine1.Profit }} TRX every 12hrs
                <button type="button" class="btn btn-sm btn-success">Buy_Machine</button>

              </ul>
            </div>
          </a>
        </div>
      </div>

<!-- Contact Modal -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end border-bottom-0">
        
				<button type="button" class="btn-close-icon" data-dismiss="modal" aria-label="Close">
          <i class="mdi mdi-close"></i>
        </button>
			</div>
			
      <div class="modal-body pt-0">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="profile-content-left px-4">
              <div class="card text-center px-0 border-0">
                <div class="card-img mx-auto">
                  <img class="mr-3 img-fluid rounded" src="{{ machine1.Image.url }}" alt="user image">
								</div>
							<form method="POST" action="buy_machines">
                {% csrf_token %}
                <div class="card-body">
                  <h4 class="py-2">{{ machine1.Name }}</h4>
                  <b>
                  <h5 class="mdi mdi-server mr-1 text-success">{{ machine1.Price }}TRX</h5>
                  </b>
                  <input type="hidden" name="machine_name" value="{{ machine1.Name }}">
                  <input type="hidden" name="price" value="{{ machine1.Price }}">
                  <input type="hidden" name="profit" value="{{ machine1.Profit }}">
                  <button type="submit" class="btn btn-primary btn-pill btn-lg my-4">Confirm</button>
                </div>
              </form>
							</div>
							
              
            </div>
					</div>
					
          <div class="col-md-6">
            <div class="contact-info px-4">
              <h4 class="mb-1">Profit Details</h4>
              <p class="text-dark pt-4 mb-2">{{ machine1.Name }} generate <b class="text-success">{{machine1.Profit}} TRX</b> profit every 12 hours</p>
              <p><b>Note: Each miner can be purchased more than once depending on your available blance</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








{% endfor %}
{% endblock %} 