{% extends "base.html" %} 
{% load static %} 
{% block title %}Transactions on your account{% endblock %} 
{% block extra_head %} Below is the list of transactions on your account. {% endblock %} 
{% block content %}





<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div>
</div>					<div class="mb-12 row">
            <div class="col text-center card p-12 bg-dark">
                
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                          <h4 class="pt-3 nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#1" role="tab" aria-controls="nav-home" aria-selected="true"> Deposits</h4>

                          <h4 class="pt-3 nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#2" role="tab" aria-controls="nav-profile" aria-selected="false">Withdrawals</h4>

                          <h4 class="pt-3 nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#3" role="tab" aria-controls="nav-contact" aria-selected="false">Others</h4>
                        </div>
                    </nav>
                    
                    <div class="px-3 py-3 tab-content px-sm-0" id="nav-tabContent">

                        
                        <div class="tab-pane fade show active bg-dark card p-3" id="1" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
                            <table id="UserTable" class="UserTable table table-hover text-light"> 
                                    <thead> 
                                        <tr> 
                                            <th>Amount</th>
                                            <th>Narration</th>
                                            <th>Status</th> 
                                            <th>Date created</th>
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                            {% for deposit in deposits %}
                                            {% if deposit.Approved == True %}
                                            <td class="mdi mdi-arrow-up-bold text-success">{{deposit.Deposit_Amount}} TRX</td> 
                                            <td class="text-success">Deposit</td>
                                            <td class="text-success">Successful</td>
                                            <td class="text-success">{{deposit.Date}}</td>
                                            {% else %}
                                            <td class="mdi mdi-arrow-up-bold text-danger">{{deposit.Deposit_Amount}} TRX</td> 
                                            <td class="text-danger">Deposit</td>
                                            <td class="text-danger">To be confirm</td>
                                            <td class="text-danger">{{deposit.Date}}</td>
                                            {% endif %}
                                        </tr> 
                                    </tbody>  
                                    
                                    {% endfor %}
                            </table>
                            </div>
                        </div>

                        <div class="tab-pane fade p-3 bg-dark" id="2" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
                            <table id="UserTable" class="UserTable table table-hover text-light"> 
                                    <thead> 
                                        <tr> 
                                            <th>Amount requested</th>
                                            <th>Charges</th>
                                            <th>Received</th>
                                            <th>Status</th> 
                                            <th>Date created</th>
                                        </tr> 
                                    </thead> 
                                    <tbody> 
                                        <tr> 
                                        {% for record in record %}
                                        <td class="mdi mdi-arrow-down-bold text-danger">{{record.Request_Amount}} TRX</td> 
                                        <td class="text-danger">{{record.Charges}} TRX</td>
                                        <td class="text-danger">{{record.Return_Amount}} TRX</td>
                                        {% if record.Fund_Sent == True %} 
                                        <td class="text-danger">Sent</td> 
                                        {% else %}
                                        <td class="text-danger">To be process</td>
                                        {% endif %}
                                        <td class="text-danger">{{record.date}}</td> 
                                        </tr> 
                                        </tbody> 
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        
                        <div class="tab-pane fade p-3 bg-dark" id="3" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
                                <table id="UserTable" class="UserTable table table-hover text-light"> 
                                    <thead> 
                                        <tr> 
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Plan/Narration</th>
                                            <th>Date created</th>
                                        </tr> 
                                    </thead>
                                    {% for total in total %}
                                    <tbody class="text-success"> 
                                                                                    <tr> 
                                            <td class="mdi mdi-arrow-up-bold">{{total.Bonus}} TRX</td> 
                                            <td>Bonus</td> 
                                            <td>SignUp Bonus</td> 
                                            <td>{{total.date}}</td> 
                                        </tr> 
                                    </tbody> 
                                    {% endfor %}
                                </table>
                                
                            </div>
                        </div>
                        
                    </div>
                    
            </div>
        </div>
    </div>
{% endblock %} 