{% extends "base.html" %} 
{% load static %} 
{% block title %}{% endblock %} 
{% block extra_head %}{% endblock %} 
{% block content %}
<div>
</div>  
			<div class="mb-5 row">
				<div class="col-lg-8 offset-md-2">
					<div class="p-md-4 p-2 rounded card bg-dark">
                            <h4 class="text-light"> Create withdrawal Password</h4>
                            <br>
								  <div class="alert alert-primary alert-icon" role="alert">
									<i class="mdi mdi-alert-circle-outline"></i> Withdrawal password can only be create once and your wallet address cannot be change.
								  </div>
                                  <br>
                                  {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-icon" role="alert">
                                        <i class="mdi mdi-checkbox-marked-outline"></i> {{message}}
                                    </div>
                                  {% endfor %}
                                  
                                
                                <form method="POST" action="withdrawal_password">
                                    {% csrf_token %}                              
                                    
                                    <div class="form-group">
                                    
                                        <h5 class="text-light">TRX Wallet Address</h5>
                                        <input class="form-control text-light bg-dark" placeholder="TRX Wallet Address" type="text" name="address" required>
                                        <br>
                                        <h5 class="text-light">Password</h5>
                                        <input class="form-control text-light bg-dark" placeholder="Password" type="password" name="password3" required>
                                        
                                        
                                    </div>

                                        <div class="form-group">
                                            <h5 class="text-light">Repeat password</h5>
                                            <input class="form-control text-light bg-dark" placeholder="Password" type="password" name="password4" required>
                                        </div> 
                                                                                                                    <div class="form-group">
                                        <input class="btn btn-success" type='submit' value="Create password"/>
                                        
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %} 